/* Color picker CSS */

.react-colorful {
  height: 200px;
  width: 100%;
}
.react-colorful__saturation {
  border-radius: 3px 3px 0 0;
}
.react-colorful__hue {
  height: 30px;
  border-radius: 0 0 3px 3px;
}
.react-colorful__saturation-pointer {
  border-radius: 99999px;
}
.react-colorful__hue-pointer {
  border-radius: 2px;
  width: 25px;
}
